* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(219, 219, 219, 0.075);
    height: 100vh;
}

button, .small-dice {
    outline: none;
}

button:focus, .small-dice:focus {
    box-shadow: 0 0 0 3px rgba(255, 127, 80, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 5rem;
    background: white;
    width: 30rem;
    box-shadow: rgba(170, 170, 170, 0.24) 0px 0px 20px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 3rem 0;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.dice {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    transform-style: preserve-3d;
    transition: .3s ease; 
}

.dice:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #f6f3f0;
    border-radius: 20px;
    transform-style: preserve-3d;
    background: linear-gradient(145deg, #e4e3e3, #fff);
}

.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}

.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
}

.front {transform: translateZ(50px);}
.back {transform: rotateX(180deg) translateZ(50px);}
.top {transform: rotateX(90deg) translateZ(50px);}
.bottom { transform: rotateX(-90deg) translateZ(50px);}
.left {transform: rotateY(-90deg) translateZ(50px);}
.right {transform: rotateY(90deg) translateZ(50px);}

/* Dice 1 */
.front::after {
    width: 30px;
    height: 30px;
    background: red;
    margin: -15px 0 0 -15px;
}

/* Dice 6*/
.back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
    0 25px,
    40px 25px,
    0 50px,
    40px 50px
}

/* Dice 2 */
.top::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 50px
}

/* Dice 5 */
.bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
    52px 52px,
    52px 0,
    0 52px
}

/* Dice 3 */
.left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 50px 50px,
    25px 25px
}

/* Dice 4 */
.right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
    0 40px,
    40px 40px
}


.small-dice {
    position: relative;
    width: 2.17rem; /* Một phần ba của 6.5rem */
    height: 2.17rem;
    transform-style: preserve-3d;
    transition: .5s ease;
}

.small-dice {
    transform: rotateX(0deg) rotateY(90deg);
}

.small-dice .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1.67px solid #f6f3f0; /* Một phần ba của 5px */
    border-radius: 6.67px; /* Một phần ba của 20px */
    transform-style: preserve-3d;
    background: linear-gradient(145deg, #e4e3e3, #fff);
}

.small-dice .face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 6.67px;
    background: #f6f3f0;
    transform: translateZ(-0.33px);
}

.small-dice .face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 6.67px; /* Một phần ba của 20px */
    height: 6.67px;
    border-radius: 50%;
    background: black;
}

.small-dice .front { transform: translateZ(16.67px); }
.small-dice .back { transform: rotateX(180deg) translateZ(16.67px); }
.small-dice .top { transform: rotateX(90deg) translateZ(16.67px); }
.small-dice .bottom { transform: rotateX(-90deg) translateZ(16.67px); }
.small-dice .left { transform: rotateY(-90deg) translateZ(16.67px); }
.small-dice .right { transform: rotateY(90deg) translateZ(16.67px); }

/* Điều chỉnh vị trí và kích thước của các chấm */
.small-dice .front::after {
    width: 10px;
    height: 10px;
    background: red;
    margin: -5px 0 0 -5px;
}

.small-dice .back::after {
    margin: -11.67px 0 0 -10px;
    box-shadow: 13.33px 0,
    0 8.33px,
    13.33px 8.33px,
    0 16.67px,
    13.33px 16.67px
}

.small-dice .top::after {
    margin: -11.67px 0 0 -10px;
    box-shadow: 13.33px 16.67px
}

.small-dice .bottom::after {
    margin: -12px 0 0 -12px;
    box-shadow: 8.67px 8.67px,
    17.33px 17.33px,
    17.33px 0,
    0 17.33px
}

.small-dice .left::after {
    margin: -11.67px 0 0 -11.67px;
    box-shadow: 16.67px 16.67px,
    8.33px 8.33px
}

.small-dice .right::after {
    margin: -10px 0 0 -10px;
    box-shadow: 13.33px 0,
    0 13.33px,
    13.33px 13.33px
}
.roll-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 3px solid lightcoral;
    border-radius: .5rem;
    color: lightcoral;
    background-color: white;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.roll-btn:hover {
    background-color: lightcoral;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.roll-btn:active {
    background-color: rgb(196, 89, 89);
    border: 3px solid rgb(196, 89, 89);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-container-close {
    display: none;
}

.history-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 250px;
    overflow-y: auto;
    padding: 10px;
    background-color: #ffffffad;
}

.history-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.history-title > button {
    border-radius: .2rem;
    background: white;
    box-shadow: none;
    border: none;
    font-size: 1rem;
    padding: .4rem;
    padding-bottom: .1rem;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.history-title > button > span {
    font-weight: 100;
}

.history-title > button:hover {
    background-color: lightcoral;
    color: white;
}

.history-title > button > .rotate-icon {
    display: inline-block;
    transition: transform 0.2s ease;
}
.history-title > button:hover .rotate-icon {
    transform: rotate(90deg);
}



h2 {
    position: relative;
    overflow: hidden;
    display: block;
    align-items: start;
    transform: 0.5s ease;
    transition-delay: 2s;
}

h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: lightcoral;
    transition: width 0.3s ease;
}

h2:hover::after {
    width: 100%;
}

.roll-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    margin-top: 25px;
    transition: all 0.3s ease;
}

hr {
    margin-top: 15px;
    margin-bottom: 20px;
    border-top: 0.5px solid rgba(128, 128, 128, 0.205);
    width: 20rem;
}

@keyframes rolling {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    25% { transform: rotateX(360deg) rotateY(180deg); }
    50% { transform: rotateX(720deg) rotateY(360deg); }
    75% { transform: rotateX(1080deg) rotateY(540deg); }
    100% { transform: rotateX(1440deg) rotateY(720deg); }
}
